<header>
  <nav>
    <div class="nav-container">
      <div class="logo">
        <a href="/index.html"
          ><img src="/src/Image/UKProjLogo.png" alt="Company Logo"
        /></a>
      </div>
      <button class="mobile-menu-btn">☰</button>
      <ul class="nav-links">
        <li><a href="/index.html" id="home-link">Home</a></li>

        <li class="dropdown properties-dropdown">
          <a href="#" id="properties-link">Properties ▾</a>
          <ul class="dropdown-menu properties-menu">
            <!-- <li><a href="/retail.html">Retail</a></li> -->
            <li><a href="/office.html">Office</a></li>
            <!--  <li><a href="/leisure.html">Leisure</a></li> -->
            <li><a href="/residential.html">Residential</a></li>
          </ul>
        </li>
        <!-- New People submenu -->
        <li class="dropdown people-dropdown">
          <a href="#" id="people-link">People ▾</a>
          <ul class="dropdown-menu people-menu">
            <li><a href="/Director.html">Director</a></li>
            <li><a href="/ExecutiveTeam.html">Executive Team</a></li>
            <li><a href="/ManagementTeam.html">Management Team</a></li>
          </ul>
        </li>

        <li><a href="/Pensions.html" id="pension-link">Pensions</a></li>

        <li><a href="/financials.html" id="financials-link">Financials</a></li>
        <li><a href="/contact.html" id="contact-link">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</header>
